  .hero {
    background-image: url("images/IMG_1084.jpeg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-color: #e0d8cb;
    overflow: hidden;
  }
